extends layout

block extra_head
    link(rel='stylesheet', href='/stylesheets/items-search.css')

block content
    include includes/categories
    div(class='center-div')
        div(class='extended-div')
        div(class="item-description-top-plane")
        each item, i in items.results
            div(class='container-item')
                div(class='item-image-div column-item')
                    a(href='/items/#{item.id}')
                        img(src='#{item.thumbnail}', class='item-image')
                div(class='price-title-div column-item')
                    div(class='price-place-div inner-content')
                        div(class='item-price grey-font')
                            |$ #{item.price}
                            if item.shipping.free_shipping
                                img(src='images/ic_shipping.png', class='free-shipping-image')
                    div(class='item-title-div inner-content grey-font')
                        |#{item.title}
                div(class='city-name-div column-item')
                    div(class='item-city-name light-grey-font')
                            |#{item.address.city_name}
            hr(class='hr-item-separator')
        div(class='extended-div')
