extends layout

block extra_head
    link(rel='stylesheet', href='/stylesheets/items-search.css')
    link(rel='stylesheet', href='/stylesheets/item-description.css')

block content
    include includes/categories
    div(class='center-div')
        div(class='container-item')
            div(class='item-image-div column-item', style='background-image: url(#{item.pictures[0].url});')
            div(class='item-title-div column-item')
                div(class='item-sold')
                    if item.condition == "used"
                        |Usado - #{item.sold_quantity} vendidos
                    else
                        |Nuevo - #{item.sold_quantity} vendidos
                b
                    div(class='item-title')
                        |#{item.title}
                div(class='item-price')
                    $#{item.price}
                div(class='buy-item-button')
                    button(type="submit", class='submit-item')
                        |Comprar
        div(class='description-item')
            span(class='item-description-title')
                b
                    |Descripción del producto
            if item_description.plain_text
                div(class='item-description-text-plane')
                    |#{item_description.plain_text}
            else
                |!{item_description.text}
            div(class='big-extended-div')